* {

    font-weight: 600;
}
.card-link_title_1v5fP {
    font-weight: 700;
}


/*pic viewer youhua*/
#nprogress .bar {

    background: #0139;

    height: 0.6%;

    border-radius: 0;

    z-index: 999999;

    box-shadow: none;
}
.picture_pic_eLDxR {

    border-radius: 6px;
}

#nprogress .bar div {
    display: none;
}

img[style="filter: blur(1px);"] {
    display: none;
}

.wbp-video .wbpv-play-progress {

    /*video color*/
    background: var(--w-brand);
}

.Links_item_ZuBMD,
.Links_wrap_mrA8a {

    display: none;
}

.Nav_bar_2PJCD {

    width: 220px;

    position: absolute;

    margin-left: 910px;
}

.index_box_MkWee {

    /*main input*/
    padding: 14px 12px 10px;
}

.wbpro-form.error,
.wbpro-form.focus {

    background: #222;
}

.Home_btn_2Gdgr {

    background: #f9f9f900;
}

.Home_btn_2Gdgr:hover,
.NavItem_main_2hs9r:hover {

    background: #6077cc22 !important;
}

.wbpro-side .cla {

    color: #bbbbba;
}

.wbpro-tab2 .cur .wbpro-textcut {

    font-family: 微软雅黑;

    font-weight: 800;
}

:root[data-theme=dark] {

    /*theme color*/
    --w-pop-item-hover: #6088df33;

    --w-b-line-primary-bg-hover: #6088df33;

    --w-hover: #6088df33;

    --w-card-border: #000000f0;

    --w-card-background: #242729;

    --w-retweet-background: #1c1f21;

    --w-tip-warn-bg: #39283466;

    --feed-inner-gap: 19px;

    --w-layer-border: #00000055;

    --w-alink: #6c91dc;

    --w-tip-warn: #777;

    /* 	--w-border-radius: 20px; */
}

:root {

    /*highline color*/
    --w-button-round: 0.2rem;

    --w-brand: #6088e6 !important;
}

.wbpro-list .text,
.wbpro-side .f12,
.woo-checkbox-text,
.wbpro-tab3 .curr,
.wbpro-tab3 .item/*comment*/
{

    font-size: 12.4px;
}

.wbpro-list .list2:before {

    border-left: 2px solid var(--w-pop-item-hover);

    color: #999;
}

.woo-button-m {

    padding-top: 0.43rem;

    padding-bottom: 0.43rem;
}

.Index_backButton_3Yh5-:hover {

    background: var(--w-pop-item-hover);
}

.Index_backButton_3Yh5- {

    color: #666;

    background: var(--w-card-background);
}

.woo-button-line {

    /*button border*/
    border: 1.5px solid #0004;
}

.Frame_wrap_3g67Q {

    /*background color*/
    background-color: #181818;
}

.detail_text_1U10O a,
.collapse,
.expand,
.viewpic {

    /*highline color*/
    color: #f15a53;
}

.Nav_wrap_gHB1a {

    /*main border color*/
    border-top: 0px solid var(--w-brand);
}

.Nav_title_1pHFq,
.Home_title_2CF0q {

    /*index fonts*/
    margin: 0;

    padding: 10px 16px;

    line-height: 20px;

    font-size: 14px;

    font-weight: 500;
}

.Pub_wrap_2V6Wk {

    display: none;
}

div[class="icon"] {

    /*hide icons*/
    display: none;
}

/*trend board*/
.wbpro-side-panel {

    padding: 0px 18px 0 16px;
}

#__sidebar > div > div:nth-child(1) > div > div:nth-child(1) > div .wbpro-side-panel:hover:nth-child(-n+11) {

    background-color: var(--w-pop-item-hover);
}

.wbpro-side-card7 .top,
.wbpro-side-card7 .num,
.Pub_wrap_2V6Wk {

    color: #cc5f66;
}

.wbpro-side-card7 .wbpro-textcut {

    margin-left: 3px;
}

.wbpro-side-card7 .con {

    height: 39px;

    padding: 0 0px 0 24px;
}

.woo-input-wrap {

    border-radius: 3px;

    background: #262626;

    border: 1.3px solid #000000;
}

.wbpro-form {

    /*input background*/
    border-radius: 2px;

    background: #262626;

    border: 1.3px solid #000000;
}
@media screen and (max-width: 1921px) {

    .Frame_right_2tQRB {
        width: 0%;
        min-width: 0px;
    }
    .Index_backButton_3Yh5- {
        left: 94% !important;
    }
}
@media screen and (min-width: 1922px) {

    .Frame_right_2tQRB {
        width: 18%;
    }
}
.Viewer_angleBtn_3Q1gw {

    position: absolute;

    width: calc(30%);

    height: 65%;

    font-size: 40px;

    background: #3330;
    top: 17%;
}

.Viewer_angleLeft_1lTkv {

    color: #8880;

    left: calc(9%);

    border-radius: 800px 0 0 800px;
}

.Viewer_angleRight_wPhby {

    color: #8880;

    right: calc(9%);

    border-radius: 0 800px 800px 0;
}

.Viewer_angleRight_wPhby:hover {

    background: linear-gradient(90deg, #6690, #6690, #6690, #6690, #6793);
}

.Viewer_angleLeft_1lTkv:hover {

    background: linear-gradient(-90deg, #6690, #6690, #6690, #6690, #6793);
}

.Viewer_angleBtn_3Q1gw:hover {

    font-size: 60px;
    color: #6660;
}

.Index_backButton_3Yh5- {

    left: auto;
    right: 18%;

    top: 35%;
    width: 5%;
    height: 15%;
    border-radius: 300px 0 0 300px;
    background: #4440;
}
.Index_backButton_3Yh5-:hover {
    background: linear-gradient(-90deg, #d454, #d457);
}
.woo-font--back:before {
    font-weight: 1000;
    font-size: 24px;
    content: "\E00A";
}

.detail_ogText_2Z1Q8,
.detail_words_np3w6 {

    color: #D3D3D0;

    font-size: 13.8px !important;

    line-height: 24px !important;

    padding-top: 1px;
}

.detail_text_1U10O a {

    font-size: 14px;
}

.SecBar_secBar_2KHxF {

    top: 43px;
}

.wbpro-tab2 .wbpro-textcut {

    border-radius: 3px;
}

#homeWrap > div.SecBar_secBar_2KHxF.SecBar_visable_16JHY > div {

    background-color: #0000;
}

#homeWrap > div.SecBar_secBar_2KHxF.SecBar_visable_16JHY > div > div > div {

    background-color: #272c319e;

    backdrop-filter: saturate(180%) blur(10px);
}

/*navbar optimized*/
.Ctrls_item_3KzNH:hover {

    background-color: var(--w-pop-item-hover);
}

.Nav_panel_YI3-j {

    background-color: #272c319e;

    backdrop-filter: saturate(180%) blur(10px);

    height: 54px;

    zoom: 0.82;

    border-bottom: none;
}

.Frame_top_2ybWw {

    margin-bottom: -3.7px;
}

.NavItem_icon_1tzN0 {

    width: 20px;

    height: 22px;

    margin-right: 18px;

    overflow: hidden;

    font-size: 20px;
}

.NavItem_text_3Z0D7 {

    line-height: 14px;

    font-size: 13px;
}

.Frame_side_3G0Bf {

    background-color: #0000 !important;

    width: 161px;
}

.Nav_main_32v4H,
.Nav_inner_1QCVO {

    border: none;

    background-color: #0000 !important;
}

.wbpro-tab2 .wbpro-textcut {

    width: 100%;

    height: 50%;

    margin: 0 4px;

    padding: 5px;

    border-radius: 3px;

    line-height: 21px;

    text-align: center;

    vertical-align: text-bottom;

    font-size: 14px;
}

.Bar_title_2dpA9,
.Search_title_22F6M,
.Bar_mid_2zgCp.Bar_cut_2RKc6,
.VideoList_tit_3zGrQ {

    font-size: 14px;

    font-weight: 700;
}

.woo-panel-left {

    border-left: 0px solid #20202500;

    border-right: 0px solid #20202500;
}

.readnum_readWrap_2-F_n {

    border: 0 solid var(--w-disabled);
}

.readnum_linkbox_1v7jH,
.woo-button-main.white {

    background: #3052a655;
}

.FeedPlayer_feedVideo_39PLs {

    border-radius: 2px;
}

.wbp-video .wbpv-progress-control:hover .wbpv-play-progress:before,
.wbp-video.wbpv-scrubbing .wbpv-play-progress:before {

    background: var(--w-brand);
}

.js-focus-visible .wbpv-menu li.wbpv-menu-item:hover,
.js-focus-visible .wbpv-menu li.wbpv-selected:hover,
.wbpv-menu li.wbpv-menu-item:hover,
.wbpv-menu li.wbpv-selected,
.wbpv-menu li.wbpv-selected:focus,
.wbpv-menu li.wbpv-selected:hover {

    color: var(--w-brand);
}

*::-webkit-scrollbar,
#playlists::-webkit-scrollbar {

    width: 8px !important;

    background: #36384000 !important;
}

*::-webkit-scrollbar-thumb,
#playlists::-webkit-scrollbar-thumb {

    background: #444 !important;
}

*::-webkit-scrollbar-track {

    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);

    background: #36384000 !important;
}

*::-webkit-scrollbar-thumb:hover {

    background: #6666 !important;
}

.woo-tip-warn {

    user-select: none;
}
